<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โพสต์ | อาสาสมัครไทย</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>


<body>
    <header>
        <!-- Navbar -->
        <img class="logo" src="img/logo.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="/">หน้าแรก</a></li>
                <li><a href="/activity">กิจกรรม</a></li>
                <li><a href="/aboutUs">เกี่ยวกับเรา</a></li>
                <li><a href="/contact">ติดต่อเรา</a></li>
                <li><a href="/community">ชุมชน</a></li>
            </ul>
        </nav>
        <% if (loggedIn) { %>
            <a class="cta" href="/logout"><button>ออกจากระบบ</button></a>
            <% }else{ %>
                <a class="cta" href="/login"><button>เข้าสู่ระบบ</button></a>
                <%}%>
    </header>

    <!-- Section -->
    <section>
        <div class="post_container">

            <!--  -->
            <form action="/user/post" method="POST">
                <!--  -->

                <h1>โพสต์</h1>
                <br/>
                
                <div class="post-group">
                    <label class="post-label" for="activity_name">ชื่อกิจกรรม :</label>
                    <input type="text" id="activity_name" name="act_name" placeholder="ชื่อกิจกรรม" class="post-input" />
                </div>

                <div class="post-group">
                    <label class="post-label" for="post-addres">ที่อยู่ :</label>
                    <input type="text" id="post-addres" name="act_addr" placeholder="ที่อยู่" class="post-input" />
                </div>

                <div class="post-group">
                    <label class="post-label" for="date">วันที่ :</label>
                    <input type="date" id="date" name="act_date" placeholder="วันที่" class="post-input" />
                </div>

                <div class="post-group">
                    <label class="post-label" for="time">เวลา :</label>
                    <input type="time" id="time" name="act_time" placeholder="เวลา" class="post-input" />
                </div>

                <div class="post-group">
                    <label class="post-label" for="post-contact">ข้อมูลติดต่อ :</label>
                    <input type="text" id="post-contact" name="act_contact" placeholder="ข้อมูลติดต่อ" class="post-input" />
                </div>

                <div class="post-group">
                    <label class="post-label" for="post-company">ชื่อผู้จัดหรือบริษัท :</label>
                    <input type="text" id="post-company" name="act_company_name" placeholder="ชื่อผู้จัดหรือบริษัท" class="post-input" />
                </div>

                <div class="post-group">
                    <label class="post-label" for="activity_detail">รายละเอียดกิจกรรม :</label>
                    <textarea placeholder="รายละเอียดกิจกรรม" id="activity_detail" name="act_info" class="post-input"></textarea>
                </div>
                
                <div class="post-group">
                    <label class="post-label" for="more-detail">ข้อมูลเพิ่มเติม :</label>
                    <textarea placeholder="ข้อมูลเพิ่มเติม" id="more-detail" name="act_moreinfo" class="post-input"></textarea>
                </div>

                <input type="submit" value="โพสต์" id="submit" />
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        
                    </ul>
                </div>
               
                <div class="footer-col">
                    <h4>website</h4>
                    <ul>
                        <li><a href="#">กิจกรรม</a></li>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                        <li><a href="#">ชุมชน</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instragram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>